*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.customer-table{
	width: 50%;
	margin: 3rem auto;
}

.back-btn{
	width: 10%;
	margin:auto;
}

.gallery-table{
	width: 50%;
	margin: 3rem auto;
}