{% extends 'admin_base.html'%}
{% block title %}
	Admin Login
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{ url_for('admin.static', filename='js/index.js')}}"></script>
{% endblock %}
{% block body %}<div class="col-md-6 mx-auto" id="flash-message">
		{% with messages = get_flashed_messages(with_categories=['danger']) %}
		{% if messages %}
			{% for category, message in messages %}
				<div class="alert alert-{{ category }} text-center m-2">
					{{ message }}
				</div>
			{% endfor%}
		{% endif %}
	{% endwith %}
</div>


<div class="container-fluid container d-flex flex-column" style="width:50vw; margin: 2rem auto;">
	<h1 class="text-center">Admin Login</h1>	
	<form method="POST" action="">
		{{ form.csrf_token() }}
		{{ form.hidden_tag() }}
		<div class="form-group">
			{{ form.username.label(class="form-control-label") }}
			{{ form.username(class="form-control", placeholder="username") }}
		</div>
		<div class="form-group">
			{{ form.password.label(class="form-control-label") }}
			{{ form.password(class="form-control", placeholder="******") }}
		</div>
		<div class="form-group">
			{{ form.submit(class="btn btn-secondary") }}
		</div>
	</form>
</div>
{% endblock %}