{% macro footer() %}
<div class="footer">
    <p class="text-center fs-6 m-1">Made with <img width="24" height="24" src="https://img.icons8.com/color/48/javascript--v1.png" alt="javascript--v1"/> 
    and 
    <img width="24" height="24" src="https://img.icons8.com/color/48/python--v1.png" alt="python--v1"/></p>
    <p class="text-center fs-6 p-0 m-0">© Arnav Sahoo</p>
</div>
{% endmacro %}