{% macro review(name="Soumyadeep") %}
<div class="d-flex border flex-row m-2 p-2 rounded-2 review-element" id="testimonial">
    <i class="bi bi-person-circle d-flex align-items-center" style="font-size: 32px"></i>
    <div class="d-flex flex-column px-3">
        <p class="name-style">{{ name }}</p>
        <p class="d-flex flex-wrap">
        <span class="review-style">
        Paragraph
        <span></p>
    </div>
</div>
{% endmacro %}