{% macro contact_link() %}
<p class="text-center fs-6 m-0">Or slide into our DMs: </p>
<div class="d-flex flex-row justify-content-center">
    <i class="bi bi-whatsapp m-1"></i>
    <i class="bi bi-facebook m-1"></i>
    <i class="bi bi-messenger m-1"></i>
    <i class="bi bi-instagram m-1"></i>
</div>
{% endmacro %}