{% extends 'base.html' %}

{% block title %}
About Us
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/about.css') }}">
{% endblock %}

{% block body %}
<h1 class="text-center fs-2 font-weight-bolder p-2">Induskriti</h1>
<br>
{% from 'includes/about.j2' import about_content with context %}
<div class="container container-fluid parent-testi">
	{{ about_content('Who Are We', 'description') }}
	<br>
	{{ about_content('Our Mission', 'mission') }}
	<br>
	{{ about_content('Our Vision', 'vision') }}
</div>
{% endblock %}