{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}
{% block body %}
<h1 class="text-center head-text">Induskriti</h1>
<div class="col-md-6 mx-auto">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} text-center">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

{% endblock %}